@page "{Id:int}/{taskId:int}"
@model ProductDetailsModel
@{
    ViewData["Title"] = "Products details";
}

<h3> Details about our product with Id @Model.Id</h3>
<div>
    @foreach (var task in Model.tasks)
    {
        <h5>Task added for product with Id @Model.Id:</h5>
        <h6>@task.Description</h6>
    }
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}
<form method="post">
    <h5>
        <button class="btn btn-dark" type="submit" asp-page="./ProductDetails" asp-route-id="@Model.product.Id">click here</button>to view the products details
    </h5>
</form>
